body{
    margin: 0;
    padding: 0;
    background-color: #007DFE;
}
input#userInp:focus{
    outline: none;
}
div.box, span#textAcc{
    margin-left: auto;
    margin-right: auto;
}
button.loginBtn{
    margin-left: auto;
    margin-right: auto;
    width: 96px;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
span.colorErr{
    color: red;
}