body{
    margin: 0;
    padding: 0;
    background-color: #007DFE;
}
input#inptFoc:focus{
    outline: none;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}